<!DOCTYPE html>
<html>
<head>
  <title>Sound Off</title>
</head>

<body>
<!-- Navigation bar at the top  ------------------------- -->
<div id="top_bar">
  <div class="wrap right">
<% if @user %>
    <a href="/logout" class="pad" rel="nofollow" data-method="DELETE">Logout</a>
    <div id="name" class="info"><%= @user.name %></div>
    <div id="pic" class="info"><%= image_tag @user.image %></div>
<% else %>
    <div class="info">For your score to save you must</div>
    <a href="auth/google_oauth2" id="login" class="pad">Login</a>
<% end %>    
  </div>
  <div class="wrap left">
    <a id="trig" class="pad">Dashboard</a>
    <div id="your_score" class="info">Your score is: <span id="score">...</span></div>
  </div>
</div>
<!-- Slide out control panel  ------------------------- -->
<div id="left">
  <div class="contain">
    <div id="scoreboard">
      <div class="title">Leaderboard: Top 5</div>
        <ul class="lead">
<% if !@leaders.nil? %>
<% @leaders.sort { |a, b| b.score <=> a.score }.first(5).each do |a| %>
          <li>
            <%= !a.user_id.nil? ? User.find(a.user_id).name : "Anon" %>
            <%= a.score %><br />
          </li>
<% end %>
<% end %>
        </ul>
    </div>
    <div id="song_lists">
      <div class="title">Song Lists</div>
      <form action="/list" method="POST">
        <ul class="songs">
<% @all_lists.map do |x| %>
            <li>
              <input type="radio" name="song_list" value="<%= x.id %>" />
              <label for="<% x.name %>"><%= x.name %></label>
            </li>
<% end %>
        </ul>
        <input id="submit" type="submit" value="Pick" />
      </form>
    </div>
  </div>
</div>
<!-- Player and guess panel  ------------------------- -->
<div id="right">
  <div id="player"></div>
  <div class="guess_bar">
    <input type="text" id="guess" placeholder="Guess The Artist..." />
    <button onclick="submit()" href="javascript:;" id="submit_guess">Submit</button>
  </div>
  <div id="game_over">
    <h1>Game Over</h1>
    <button onClick="reloader()">Play Again</button>
  </div>
</div>


<script>
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('player', {
      height: '100%',
      width: '100%',
      playerVars: {
        showinfo: 0,
        controls: 0, 
        minimalbranding: 0,
        disablekb: 0
      },
     loadPlaylist:{
        listType:'playlist',
        list:gon.youtube,
        index:parseInt(0),
        suggestedQuality:'small'
     },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }
</script>

</body>
</html>




